node_modules
**/node_modules
**/dist
**/.next
**/coverage
test-results
playwright-report
blob-report
.git
.github
.atl
docs
tests
**/*.spec.ts
**/*.spec.tsx
**/.env
**/.env.*
!**/.env.example
*.log
.DS_Store
